HTML {
    font-family: arial;
}

H1, TABLE, .tables,  .instructions, .button, .time, #retour{
    background-color: lightskyblue;
    border-radius: 2ex;
    padding: 1ex;
    margin: 2ex;
    alignment: center;
    vertical-align: center;
    text-align: center;
}

H1{
    width:600px;
}

TD{
    width: 200px;
    text-align: right;
    padding-right: 60px;
}

.instructions{
    width:520px;
    font-weight: bold;
}

.right{
    border: solid 2px #85f79c;
    /*background: green;*/
}

.wrong{
    border: solid 2px #Ff8600;
    font-weight: bold;
    color: #Ff8600;
    /*background: red;*/
}

.cache{
    visibility: hidden;
}

.button{
    font-weight: bold;
    font-size: large;
    width: 200px;
    border-style: none;
}

.tables{
    width:200px;
}

#resultat{
    position:absolute;
    alignment: center;
    vertical-align: center;
    text-align: center;
    font-weight: bold;
    top:200px;
    width: 350px;
    height: 150px;
    background: gold;
    transition: background-color 2s, transform 2s ;
}

#resultat:hover {
    background-color: #85f79c;
    transform: rotate(360deg);
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid;*/
}

.buttons{
    display: flex;
    align-content: space-between;
    /*border:1px solid;*/
    padding-left: 50px;
}

#timer{
    /*position:absolute;*/
    /*left: 10px;*/
    /*top:10px;*/
    border:solid 3px lightskyblue;
    font-weight: bold;
    font-size: larger;
    padding-left: 50px;
    padding-right: 50px;
    /*visibility: hidden;*/
}

#retour{
    position: absolute;
    color:black;
    left:0px;
    top:150px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}